

#header{
    padding: 0px;
}

body{
    padding-bottom: 50px;
}

#mission_statement{
    font-size: medium;
}

#item_of_the_day{
}

#iotd_description{
  padding-bottom:20px;
}

#footer{
  padding-top: 20px;
}


#slogan{
    padding-top: 20px;
    text-transform: capitalize;
    font-style: oblique;
}

#produce_products{
}

#produce_products img{
  width:512px;
  height:342px;
  max-width: 100%;
}
