.header {
  padding: 0px;
}

.footer {
  margin-bottom: 0px;
}

#mission_statement {
  font-size: medium;
}

#item_of_the_day {
  margin-bottom: 65px;
}

#iotd_description {
}

#slogan {
  padding-top: 20px;
  text-transform: capitalize;
  font-style: oblique;
}

.aisle_name {
  text-align: left;
}

.aisle .col-sm {
  border-style: solid;
  background-color: #faf8f6;
  border-radius: 8px;
}

#quantity {
  height: 50px;
  width: 50px;
  border-radius: 8px;
}

.aisle img {
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .aisle_name {
    text-align: left;
  }

  .aisle img {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
  }
}

.product-list-image {
  height: 4rem;
}

.product-description {
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.add-product-btn{
  float: right;
}

.productDescriptionTextarea{
  max-width: 90%;
}

.form-group{
  margin: 20px 0;
}

.container .bagel{
  display: flex;
  justify-content: center;
}

.bagel form{
  max-width: 300px;
  background-color: lightgrey;
  padding:20px;
  border-radius: 5px;
}

.bagel button{
  display: block;
  width: 100%;
  margin: auto;
}

label{
  display:block;
}
